{% extends 'header.html' %}

{% block body %}
    <h3 class="ui center aligned header" style="margin-top: 200px;">Welcome, {{ mem }}</h3>
  <form method="post" class="ui large form" style="margin: 0 100px">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="fname" placeholder="First Name">
          </div>
        </div>
          <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="lname" placeholder="Last Name">
          </div>
        </div>
          <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="Email">
          </div>
          </div>
          <div class="field">
              <div class="ui left icon input">
                <i class="users icon"></i>
                <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <input type="submit" class="ui fluid large teal submit button" value="create {{ mem }}">
      </div>

      <div class="ui error message"></div>

    </form>
{% endblock %}